<!DOCTYPE html>
<html lang="en">


<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title>Hofmaan | Contact Us</title>

    <meta name="keywords" content="Hofmaan" />
    <meta name="description" content="Hofmaan">
    <meta name="author" content="Trivlogic">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/images/logo.png">

    <!-- WebFont.js -->
    <script>
        WebFontConfig = {
            google: { families: ['Poppins:400,500,600,700'] }
        };
        ( function ( d ) {
            var wf = d.createElement( 'script' ), s = d.scripts[0];
            wf.src = '/js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore( wf, s );
        } )( document );
    </script>

    <link rel="preload" href="/vendor/fontawesome-free/webfonts/fa-regular-400.woff2" as="font" type="font/woff2"
        crossorigin="anonymous">
    <link rel="preload" href="/vendor/fontawesome-free/webfonts/fa-solid-900.woff2" as="font" type="font/woff2"
        crossorigin="anonymous">
    <link rel="preload" href="/vendor/fontawesome-free/webfonts/fa-brands-400.woff2" as="font" type="font/woff2"
            crossorigin="anonymous">
    <link rel="preload" href="/fonts/wolmart87d5.woff?png09e" as="font" type="font/woff" crossorigin="anonymous">

    <!-- Vendor CSS -->
    <link rel="stylesheet" type="text/css" href="/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/vendor/swiper/swiper-bundle.min.css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" type="text/css" href="/vendor/magnific-popup/magnific-popup.min.css">

    <!-- Default CSS -->
    <link rel="stylesheet" type="text/css" href="/css/style.min.css">
</head>

<body>
    <div class="page-wrapper">
        <!-- Start of Header -->
        <header class="header">
            <div class="header-top">
                <div class="container">
                    <div class="header-left">
                        <p class="welcome-msg">Welcome to Hofmaan Store! Offers Available</p>
                    </div>
                    <div class="header-right">
                        <span class="divider d-lg-show"></span>
                        <a href="/store" class="d-lg-show">Store</a>
                        <a href="/about" class="d-lg-show">About Us</a>
                        <a href="/contact" class="d-lg-show">Contact Us</a>
                        <% if (user) { %>
                            <a href="/account" class="d-lg-show"><i class="w-icon-account"></i>Profile</a>
                            <span class="delimiter d-lg-show">/</span>
                            <a href="/orders" class="ml-0 d-lg-show">My Orders</a>
                            <% } else { %>
                                <a href="/auth/login" class="d-lg-show"><i class="w-icon-account"></i>Sign In</a>
                                <span class="delimiter d-lg-show">/</span>
                                <a href="/auth/login" class="ml-0 d-lg-show">Register</a>
                                <% } %>
                    </div>
                </div>
            </div>
            <!-- End of Header Top -->
            <div class="header-middle sticky-content fix-top sticky-header border-no">
                <div class="container">
                    <div class="header-left mr-md-4">
                        <a href="#" class="mobile-menu-toggle  w-icon-hamburger"></a>
                        <a href="/" class="logo">
                            <img src="/images/logo.png" alt="logo" width="200">
                        </a>
                       
                    </div>
                    <div class="header-right ml-4">
                        <div class="header-call d-xs-show d-lg-flex align-items-center">
                            <a href="tel:#" class="w-icon-call"></a>
                            <div class="call-info d-lg-show">
                                <h4 class="chat font-size-md text-normal ls-normal text-white mb-0">
                                    <a href="" class="text-capitalize text-primary font-weight-normal">Customer care</a>
                                </h4>
                                <a href="tel:+919400947122" class="phone-number font-weight-bolder ls-50">+91 9400947122</a>
                            </div>
                        </div>
                        <a class="wishlist label-down link d-xs-show" href="/wishlist">
                            <i class="w-icon-heart"></i>
                            <span class="wishlist-label d-lg-show">Wishlist</span>
                        </a>
                        <div class="dropdown cart-dropdown cart-offcanvas mr-0 mr-lg-2">
                            <div class="cart-overlay"></div>
                            <a href="/cart" class=" label-down link">
                                <i class="w-icon-cart">
                                    <span class="cart-count text-white">+</span>
                                </i>
                                <span class="cart-label">Cart</span>
                            </a>
                        
                            <!-- End of Dropdown Box -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Header Middle -->
        </header>
        <!-- End of Header -->


        <!-- Start of Main -->
        <main class="main">
            <!-- Start of Page Header -->
            <div class="page-header">
                <div class="container">
                    <h1 class="page-title mb-0">Contact Us</h1>
                </div>
            </div>
            <!-- End of Page Header -->

            <!-- Start of Breadcrumb -->
            <nav class="breadcrumb-nav mb-10 pb-1">
                <div class="container">
                    <ul class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li>Contact Us</li>
                    </ul>
                </div>
            </nav>
            <!-- End of Breadcrumb -->

            <!-- Start of PageContent -->
            <div class="page-content contact-us">
                <div class="container">
                    <section class="content-title-section mb-10">
                        <h3 class="title title-center mb-3">Contact
                            Information
                        </h3>
                        <p class="text-center">Get in touch with us for any inquiries — we're here to help!</p>
                    </section>
                    <!-- End of Contact Title Section -->

                    <section class="contact-information-section  mb-10">
                        <div class=" swiper-container swiper-theme " data-swiper-options="{
                            'spaceBetween': 20,
                            'slidesPerView': 1,
                            'breakpoints': {
                                '480': {
                                    'slidesPerView': 2
                                },
                                '768': {
                                    'slidesPerView': 3
                                },
                                '992': {
                                    'slidesPerView': 4
                                }
                            }
                        }">
                    
                            <div class="swiper-wrapper row cols-xl-4    cols-md-3 cols-sm-2 cols-1">
                                <div class="swiper-slide icon-box text-center icon-box-primary">
                                    <span class="icon-box-icon icon-email">
                                        <i class="w-icon-envelop-closed"></i>
                                    </span>
                                    <div class="icon-box-content">
                                        <h4 class="icon-box-title">E-mail Address</h4>
                                        <p><a href="mailto:hofmaanstore@gmail.com" class="__cf_email__" data-cfemail="hofmaanstore@gmail.com">hofmaanstore@gmail.com</a></p>
                                    </div>
                                </div>
                                <div class="swiper-slide icon-box text-center icon-box-primary">
                                    <span class="icon-box-icon icon-headphone">
                                        <i class="w-icon-headphone"></i>
                                    </span>
                                    <div class="icon-box-content">
                                        <h4 class="icon-box-title">Phone Number</h4>
                                        <p><a href="+919400947122">+91 9400947122</a> </p>
                                    </div>
                                </div>
                                <div class="swiper-slide icon-box text-center icon-box-primary">
                                    <span class="icon-box-icon icon-map-marker">
                                        <i class="w-icon-map-marker"></i>
                                    </span>
                                    <div class="icon-box-content">
                                        <h4 class="icon-box-title">Address</h4>
                                        <p>Hofmaan,Ernakulam ,Kerala,India</p>
                                    </div>
                                </div>
                                     <div class="swiper-slide icon-box text-center icon-box-primary">
                                    <span class="icon-box-icon icon-map-marker">
<i style="font-size: 50px; font-weight: 500!important;" class="fas fa-clock"></i>  
                                    </span>
                                    <div class="icon-box-content">
                                        <h4 class="icon-box-title">Working Hours</h4>
                                        <p>9:00AM - 6:30PM</p>
                                    </div>
                                </div>
                         
                            </div>
                        </div>
                    </section>
                    <!-- End of Contact Information section -->

                    <hr class="divider mb-10 pb-1">

                    <section class="contact-section">
                        <div class="row gutter-lg pb-3">
                            <div class="col-lg-6 mb-8">
                                <h4 class="title mb-3">People usually ask these</h4>
                                <div class="accordion accordion-bg accordion-gutter-md accordion-border">
                                    <div class="card">
                                        <div class="card-header">
                                            <a href="#collapse1" class="collapse">How can I cancel my order?</a>
                                        </div>
                                        <div id="collapse1" class="card-body expanded">
                                            <p class="mb-0">
                                              You can cancel your order by contacting our customer support within a limited time after placing it. Once processed or shipped, cancellations may no longer be possible.
                                            </p>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header">
                                            <a href="#collapse2" class="expand"> Do you offer returns or exchanges?</a>
                                        </div>
                                        <div id="collapse2" class="card-body collapsed">
                                            <p class="mb-0">
                                                Yes, we accept returns and exchanges within 7 days of delivery, provided the item is unused and in original condition.


                                            </p>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header">
                                            <a href="#collapse3" class="expand">How long does delivery take?</a>
                                        </div>
                                        <div id="collapse3" class="card-body collapsed">
                                            <p class="mb-0">
                                               Orders are usually delivered within 3–7 business days, depending on your location and product availability.
                                            </p>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header">
                                            <a href="#collapse4" class="expand">Do you provide bulk or wholesale pricing?</a>
                                        </div>
                                        <div id="collapse4" class="card-body collapsed">
                                            <p class="mb-0">
                                     Absolutely! We offer special rates for bulk and wholesale orders. Please contact us directly for a custom quote.


                                            </p>
                                        </div>
                                    </div>

                              
                                </div>
                            </div>
                            <div class="col-lg-6 mb-8">
                                <h4 class="title mb-3">Send Us a Message</h4>
                                <form class="form contact-us-form" action="#" method="post">
                                    <div class="form-group">
                                        <label for="username">Your Name</label>
                                        <input type="text" id="username" name="username"
                                            class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="email_1">Your Email</label>
                                        <input type="email" id="email_1" name="email_1"
                                            class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="message">Your Message</label>
                                        <textarea id="message" name="message" cols="30" rows="5"
                                            class="form-control"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-dark btn-rounded">Send Now</button>
                                </form>
                            </div>
                        </div>
                    </section>
                    <!-- End of Contact Section -->
                </div>

                <!-- Google Maps - Go to the bottom of the page to change settings and map location. -->
                
                <!-- End Map Section -->
            </div>
            <!-- End of PageContent -->
        </main>
        <!-- End of Main -->

        <!-- Start of Footer -->
        <footer class="footer appear-animate" data-animation-options="{
            'name': 'fadeIn'
        }">
            <div class="footer-newsletter bg-primary">
                <div class="container">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-xl-5 col-lg-6">
                            <div class="icon-box icon-box-side text-white">
                                <div class="icon-box-icon d-inline-flex">
                                    <i class="w-icon-envelop3"></i>
                                </div>
                                <div class="icon-box-content">
                                    <h4 class="icon-box-title text-white text-uppercase font-weight-bold">Subscribe To
                                        Our Newsletter</h4>
                                    <p class="text-white">Get all the latest information on Events, Sales and Offers.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-6 col-md-9 mt-4 mt-lg-0 ">
                            <form action="#" method="get"
                                class="input-wrapper input-wrapper-inline input-wrapper-rounded">
                                <input type="email" class="form-control mr-2 bg-white" name="email" id="email"
                                    placeholder="Your E-mail Address" />
                                <button class="btn btn-dark btn-rounded" type="submit">Subscribe<i
                                        class="w-icon-long-arrow-right"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="footer-top">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6">
                            <div class="widget widget-about mt-0 mb-4">
                                <a href="/" class="logo-footer">
                                    <img src="/images/logo.png" alt="logo-footer" width="200" height="45" />
                                </a>
                                <div class="widget-body">
                                    <p class="widget-about-title">Got Question? Call us 24/7</p>
                                    <a href="tel:+919400947122" class="widget-about-call">+91 9400947122</a>
                                     <p>Follow Us In :</p>
                                    <div class="social-icons social-icons-colored">
                                        <a href="https://www.facebook.com/profile.php?id=61577157921909#" class="social-icon social-facebook w-icon-facebook"></a>
                                        <a href="https://www.instagram.com/hofmaan__/" class="social-icon social-instagram w-icon-instagram"></a>
                                        <a href="https://www.youtube.com/@hofmaanofficial" class="social-icon social-youtube w-icon-youtube"></a>
                                        <a href="https://in.pinterest.com/hofmaanstore/" class="social-icon social-pinterest w-icon-pinterest"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="widget">
                                <h3 class="widget-title">Company</h3>
                                <ul class="widget-body">
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/store">Store</a></li>
                                    <li><a href="/about">About Us</a></li>
                                    <li><a href="/blogs">Blogs</a></li>
                                    <li><a href="/contact">Contact Us</a></li>                              
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4>
                                <ul class="widget-body">
                                    <li><a href="/orders">Track My Order</a></li>
                                    <li><a href="/cart">View Cart</a></li>
                                    <% if (user) { %>
                                        <li><a href="/account">Account</a></li>
                                        <% } else { %>
                                            <li><a href="/auth/login">Sign In</a></li>
                                            <% } %>
                                    <li><a href="/wishlist">My Wishlist</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="widget">
                                <h4 class="widget-title">Customer Service</h4>
                                <ul class="widget-body">
                                    <li><a href="/terms_and_conditions">Terms and Conditions</a></li>
                                    <li><a href="/Cancellation_Refund">Cancellation Refund</a></li>
                                    <li><a href="/shipping_policy">Shipping Policy</a></li>
                                    <li><a href="/privacy_policy">Privacy Policy</a></li>
                           
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="footer-bottom">
                    <div class="footer-left">
                        <p class="copyright">
                            Copyright © 2025 Hofmaan. All Rights Reserved. &nbsp;|&nbsp;
                            developed by <a href="https://trivlogic.com/" target="_blank" rel="noopener" style="color:#888;text-decoration:none;">Trivlogic Pvt Ltd</a>
                        </p>
                    </div>
                    <div class="footer-right">
                        <span class="payment-label mr-lg-8">We're using safe payment for</span>
                        <figure class="payment">
                            <img src="/images/payment.png" alt="payment" width="159" height="25" />
                        </figure>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Start of Sticky Footer -->
   <div class="btm-main">
    <a href="#" id="mobileSearchRedirect" class="search-bar-link">
        <div class="search-bar" id="searchBar">
            <div class="search-container">
                <div class="search-input-wrapper">
                    <i class="fas fa-search search-input-icon"></i>
                    <input type="text" class="search-input" placeholder="Search products..." id="mobileSearchInput">
                </div>
                <button class="search-btn" id="mobileSearchButton">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </a>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const input = document.getElementById('mobileSearchInput');
            const btn = document.getElementById('mobileSearchButton');
            const link = document.getElementById('mobileSearchRedirect');
            function doSearch(e) {
                e.preventDefault();
                const q = input.value.trim();
                if (q.length > 0) {
                    window.location.href = '/store?q=' + encodeURIComponent(q);
                }
            }
            btn.addEventListener('click', doSearch);
            input.addEventListener('keydown', function(e) {
                if (e.key === 'Enter') {
                    doSearch(e);
                }
            });
            link.addEventListener('click', function(e) {
                // Prevent default link if not searching
                if (input.value.trim().length === 0) e.preventDefault();
            });
        });
    </script>

        <nav class="mobile-bottom-nav">

            <div class="mob-btm-nav">
                <a href="/cart" class="sticky-link1">
                    <i class="fas fa-shopping-cart"></i>
                    <p>Cart</p>
                </a>
            </div>

            <div class="mob-btm-nav">
                <a href="/orders" class="sticky-link1">
                    <i class="fas fa-clipboard-list"></i>
                    <p>Orders</p>
                </a>
            </div>

            <div class="mob-btm-nav">
                <a href="#0" id="searchBtn" class="sticky-link1">
                    <i class="fas fa-search"></i>
                    <p>Search</p>
                </a>
            </div>

            <div class="mob-btm-nav">
                <a href="/wishlist" class="sticky-link1">
                    <i class="fas fa-heart"></i>
                    <p>Wishlist</p>
                </a>
            </div>
        </nav>
    </div>

    <div class="sticky-footer sticky-content fix-bottom">

        <a href="/" class="sticky-link  ">
            <i class="w-icon-home"></i>
            <p>Home</p>
        </a>
        <a href="/store" class="sticky-link">
            <i class="w-icon-products"></i>
            <p>Store</p>
        </a>
        <a class="btm-img" href="/"> <img src="/images/logo-2.png" alt=""></a>
        <% if (user) { %>
            <a href="/account" class="sticky-link">
                <i class="w-icon-account"></i>
                <p>Account</p>
            </a>
            <% } else { %>
                <a href="/auth/login" class="sticky-link">
                    <i class="w-icon-account"></i>
                    <p>Login</p>
                </a>
                <% } %>


                    <a href="/contact" class="sticky-link active-mob">
                        <i class="w-icon-call2"></i>
                        <p>Contact </p>
                    </a>
    </div>
    <!-- End of Sticky Footer -->
    
    <!-- Start of Scroll Top -->
    <a id="scroll-top" class="scroll-top" href="#top" title="Top" role="button"> <i class="w-icon-angle-up"></i> <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 70"> <circle id="progress-indicator" fill="transparent" stroke="#000000" stroke-miterlimit="10" cx="35" cy="35" r="34" style="stroke-dasharray: 16.4198, 400;"></circle> </svg> </a>
    <!-- End of Scroll Top -->

    <!-- Start of Mobile Menu -->
    <div class="mobile-menu-wrapper">
        <div class="mobile-menu-overlay"></div>
        <!-- End of .mobile-menu-overlay -->

        <a href="#" class="mobile-menu-close"><i class="close-icon"></i></a>
        <!-- End of .mobile-menu-close -->

        <div class="mobile-menu-container scrollable">
         <img class="side-logo" src="/images/logo.png" alt="logo">
            <!-- End of Search Form -->
            <div class="tab">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a href="#main-menu" class="nav-link active">Main Menu</a>
                    </li>
                    <li class="nav-item">
                        <a href="#categories" class="nav-link">Categories</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="main-menu">
                    <ul class="mobile-menu">
                        <li><a href="/">Home</a></li>
                          <li><a href="/store">Store</a></li>
                             <li><a href="/login">Profile</a></li>
                                                          <li><a href="/wishlist">Wishlist</a></li>
                                                           <li><a href="/cart">Cart</a></li>
                                  <li><a href="/about">About Us</a></li>
                                      <li><a href="/about">Blogs</a></li>
                                                     <li><a href="/contact">Contact Us</a></li>
                                                   
                    </ul>
                </div>
                <div class="tab-pane" id="categories">
            <ul class="mobile-menu">
    <% categories.forEach(category => { %>
        <li>
            <a style="gap: 10px!important; display: flex;" href="/category/<%= category._id %>">
               <img style="height: 30px; width: 30px; border-radius: 50px;" src="<%= category.imageUrl || '/images/hofmaan/sample3.jpg' %>" alt=""> <%= category.name %>
            </a>
            <% if (category.subCategories && category.subCategories.length > 0) { %>
                <ul>
                    <% category.subCategories.forEach(sub => { %>
                        <% if (sub.isActive) { %>
                            <li>
                                <a href="/subcategory/<%= sub._id %>"><%= sub.name %></a>
                            </li>
                        <% } %>
                    <% }); %>
                </ul>
            <% } %>
        </li>
    <% }); %>
</ul>

                </div>
            </div>
        </div>
    </div>
    <!-- End of Mobile Menu -->
  <!--whats app icon -->
<div class="whatsapp-float">
  <a href="https://wa.me/+919400947122" target="_blank" rel="noopener noreferrer">
    <i class="fab fa-whatsapp whatsapp-icon"></i>
  </a>
</div>
    <!-- Plugin JS File -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="/js/main.min.js"></script>
<script src="/js/script.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key="></script>
    <script>

        /*
        Map Settings
            Find the Latitude and Longitude of your address:
                - https://www.latlong.net/
                - http://www.findlatitudeandlongitude.com/find-address-from-latitude-and-longitude/
        */

        // Map Markers
        var mapMarkers = [{
            address: "New York, NY 10017",
            html: "<strong>New York Office<\/strong><br>New York, NY 10017",
            popup: true
        }];

        // Map Initial Location
        var initLatitude = 40.75198;
        var initLongitude = -73.96978;

        // Map Extended Settings
        var mapSettings = {
            controls: {
                draggable: !window.Wolmart.isMobile,
                panControl: true,
                zoomControl: true,
                mapTypeControl: true,
                scaleControl: true,
                streetViewControl: true,
                overviewMapControl: true
            },
            scrollwheel: false,
            markers: mapMarkers,
            latitude: initLatitude,
            longitude: initLongitude,
            zoom: 11
        };

        var map = $( '#googlemaps' ).gMap( mapSettings );

        // Map text-center At
        var mapCenterAt = function ( options, e ) {
            e.preventDefault();
            $( '#googlemaps' ).gMap( "centerAt", options );
        }

    </script>
</body>



</html>