<!DOCTYPE html>
<html lang="en">


<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title>Hofmaan | Shop</title>

    <meta name="keywords" content="Hofmaan" />
    <meta name="description" content="Hofmaan">
    <meta name="author" content="Trivlogic">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/images/logo-2.png">

    <!-- WebFont.js -->
    <script>
        WebFontConfig = {
            google: { families: ['Poppins:400,500,600,700'] }
        };
        (function (d) {
            var wf = d.createElement('script'), s = d.scripts[0];
            wf.src = '/js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore(wf, s);
        })(document);
    </script>

    <link rel="preload" href="/vendor/fontawesome-free/webfonts/fa-regular-400.woff2" as="font" type="font/woff2"
        crossorigin="anonymous">
    <link rel="preload" href="/vendor/fontawesome-free/webfonts/fa-solid-900.woff2" as="font" type="font/woff2"
        crossorigin="anonymous">
    <link rel="preload" href="/vendor/fontawesome-free/webfonts/fa-brands-400.woff2" as="font" type="font/woff2"
        crossorigin="anonymous">
    <link rel="preload" href="/fonts/wolmart87d5.woff?png09e" as="font" type="font/woff" crossorigin="anonymous">

    <!-- Vendor CSS -->
    <link rel="stylesheet" type="text/css" href="/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/vendor/animate/animate.min.css">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/vendor/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" type="text/css" href="/vendor/nouislider/nouislider.min.css">
    <link rel="stylesheet" type="text/css" href="/vendor/magnific-popup/magnific-popup.min.css">

    <!-- Default CSS -->

    <link rel="stylesheet" type="text/css" href="/css/style.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/nouislider@15.7.0/dist/nouislider.min.css">
</head>

<body>
    <div class="page-wrapper">

        <!-- Start of Header -->
        <header class="header">
            <div class="header-top">
                <div class="container">
                    <div class="header-left">
                        <p class="welcome-msg">Welcome to Hofmaan Store! Offers Available</p>
                    </div>
                    <div class="header-right">
                        <span class="divider d-lg-show"></span>
                        <a href="/store" class="d-lg-show">Store</a>
                        <a href="/about" class="d-lg-show">About Us</a>
                        <a href="/contact" class="d-lg-show">Contact Us</a>
                        <% if (user) { %>
                            <a href="/account" class="d-lg-show"><i class="w-icon-account"></i>Profile</a>
                            <span class="delimiter d-lg-show">/</span>
                            <a href="/orders" class="ml-0 d-lg-show">My Orders</a>
                            <% } else { %>
                                <a href="/auth/login" class="d-lg-show"><i class="w-icon-account"></i>Sign In</a>
                                <span class="delimiter d-lg-show">/</span>
                                <a href="/auth/login" class="ml-0 d-lg-show">Register</a>
                                <% } %>
                    </div>
                </div>
            </div>
            <!-- End of Header Top -->
            <div class="header-middle sticky-content fix-top sticky-header border-no">
                <div class="container">
                    <div class="header-left mr-md-4">
                        <a href="#" class="mobile-menu-toggle  w-icon-hamburger"></a>
                        <a href="/" class="logo">
                            <img src="/images/logo.png" alt="logo" width="200">
                        </a>
                        <form class="input-wrapper header-search hs-expanded hs-round d-none d-md-flex" id="searchForm" style="position:relative;">
                            <div class="custom-search-bar w-100">
                                <input type="text" class="form-control" name="q" id="searchInput"
                                    placeholder="Search for products..." autocomplete="off" />
                                <button class="btn btn-search" type="submit" aria-label="Search">
                                    <i class="w-icon-search"></i>
                                </button>
                            </div>
                            <div id="searchSuggestions" class="search-suggestions"></div>
                        </form>
                        <div id="searchResults" class="search-results-container"></div>
                    </div>
                    <div class="header-right ml-4">
                        <div class="header-call d-xs-show d-lg-flex align-items-center">
                            <a href="tel:+919400947122" class="w-icon-call"></a>
                            <div class="call-info d-lg-show">
                                <h4 class="chat font-size-md text-normal ls-normal text-white mb-0">
                                    <a href="tel:+919400947122" class="text-capitalize text-primary font-weight-normal">Customer care</a>
                                </h4>
                                <a href="tel:+919400947122" class="phone-number font-weight-bolder ls-50">+91 9400947122</a>
                            </div>
                        </div>
                        <a class="wishlist label-down link d-xs-show" href="/wishlist">
                            <i class="w-icon-heart"></i>
                            <span class="wishlist-label d-lg-show">Wishlist</span>
                        </a>
                        <div class="dropdown cart-dropdown cart-offcanvas mr-0 mr-lg-2">
                            <div class="cart-overlay"></div>
                            <a href="/cart" class=" label-down link">
                                <i class="w-icon-cart">
                                    <span class="cart-count text-white">+</span>
                                </i>
                                <span class="cart-label">Cart</span>
                            </a>
                         
                            <!-- End of Dropdown Box -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Header Middle -->
        </header>
        <!-- End of Header -->


        <!-- Start of Main -->
        <main class="main">
            <!-- Start of Breadcrumb -->
            <nav class="breadcrumb-nav">
                <div class="container">
                    <ul class="breadcrumb bb-no">
                        <li><a href="/">Home</a></li>
                        <li><a href="/store">Shop</a></li>

                    </ul>
                </div>
            </nav>
            <!-- End of Breadcrumb -->

            <!-- Start of Page Content -->
            <div class="page-content">
                <div class="container">
                    <!-- Start of Shop Banner -->
                     
                    <div class="shop-default-banner banner d-flex align-items-center mb-5 br-xs"
                        style="background-image: url(/images/banner/banner.png); background-color: #FFC74E;">
                        <div class="banner-content">
                            <h3 class="banner-title text-white font-weight-bolder ls-10"><%= title %></h3>
                        </div>
                    </div>
                    <!-- End of Shop Banner -->
   
                    <div class="shop-content row gutter-lg mb-10">
                        <!-- Start of Sidebar, Shop Sidebar -->
                        <aside class="sidebar shop-sidebar sticky-sidebar-wrapper sidebar-fixed">
                            <div class="sidebar-overlay"></div>
                            <a class="sidebar-close" href="#"><i class="close-icon"></i></a>
                            <div class="sidebar-content scrollable">
                                <div class="sticky-sidebar">
                                    <div class="filter-actions">
                                        <label>Filter :</label>
                                        <a href="/store" class=" btn-dark btn-link ">Reset Filters</a>
                                    </div>
                                    
                                    <!-- Categories Filter -->
                                    <div class="widget widget-collapsible">
                                        <h3 class="widget-title"><span>All Categories</span></h3>
                                        <ul class="widget-body filter-items search-ul">
                                            <% categories.forEach(function(category) { %>
                                                <li>
                                                    <a href="/store?<%= 'category=' + encodeURIComponent(category.slug || category.name) %>"><%= category.name %></a>
                                                </li>
                                            <% }) %>
                                        </ul>
                                    </div>
                                    
                                    <!-- Price Filter -->
                                     <div class="widget widget-collapsible">
                                        <h3 class="widget-title"><span>Price</span></h3>
                                        <div id="price-slider" style="margin: 10 0;"></div>
                                        <div class="d-flex justify-content-between align-items-center mt-2">
                                            <span id="price-range-display">₹0 - ₹20000</span>
                                            <form id="price-filter-form" method="get" action="/store" class="d-inline">
                                                <% if (filters.category) { %>
                                                    <input type="hidden" name="category" value="<%= filters.category %>">
                                                <% } %>
                                                <input type="hidden" name="minPrice" id="minPriceInput">
                                                <input type="hidden" name="maxPrice" id="maxPriceInput">
                                                <button type="submit" class="btn btn-sm btn-primary btn-rounded ms-3">Apply</button>
                                            </form>
                                        </div>
                                     </div>
                                    
                                    
                                    
                                    <!-- Size Filter (Checkboxes + Apply Button) -->
                                    <div class="widget widget-collapsible">
                                        <h3 class="widget-title"><span>Size</span></h3>
                                        <form id="size-filter-form" method="get" action="/store">
                                            <ul style="display: flex; flex-wrap: wrap; gap: 5px;" class="widget-body filter-items item-check mt-1">
                                                <% 
                                                    let sizeSet = new Set();
                                                    products.forEach(function(product) {
                                                        if (product.sizeVariants && Array.isArray(product.sizeVariants)) {
                                                            product.sizeVariants.forEach(function(variant) {
                                                                if (variant.size) sizeSet.add(variant.size);
                                                            });
                                                        }
                                                    });
                                                    let sizes = Array.from(sizeSet);
                                                    sizes.sort();
                                                    // For multi-select, parse filters.size as array or string
                                                    let selectedSizes = [];
                                                    if (filters.size) {
                                                        if (Array.isArray(filters.size)) {
                                                            selectedSizes = filters.size;
                                                        } else if (typeof filters.size === 'string') {
                                                            selectedSizes = filters.size.split(',');
                                                        }
                                                    }
                                                %>
                                                <% sizes.forEach(function(size) { %>
                                                <li class="sizes-filter <%= selectedSizes.includes(size) ? 'selected' : '' %>" 
        data-size="<%= size %>">
      <label style="cursor:pointer;">
        <input hidden type="checkbox" name="size" value="<%= size %>" 
               <%= selectedSizes.includes(size) ? 'checked' : '' %> />
        <span style="color: #363636; position: relative;"><%= size %></span>
      </label>
    </li>
                                                <% }) %>
                                            </ul>
                                            <% // Preserve other filters except size %>
                                            <% Object.keys(filters).forEach(function(key) { 
                                                if (['size', 'page'].indexOf(key) === -1 && filters[key]) { %>
                                                <input type="hidden" name="<%= key %>" value="<%= filters[key] %>">
                                            <% } }) %>
                                            <button type="submit" class="btn btn-primary btn-sm btn-block mt-2">Apply Size Filter</button>
                                        </form>
                                    </div>
    
                                    <div class="widget widget-collapsible">
                                        <h3 class="widget-title"><span>Color</span></h3>
                                        <form id="color-filter-form" method="get" action="/store">
                                            <ul style="display: flex; gap: 5px;  flex-wrap: wrap;" class="widget-body filter-items item-check mt-1">
                                                <% 
                                                    let colorSet = new Set();
                                                    products.forEach(function(product) {
                                                        if (product.colorVariants && Array.isArray(product.colorVariants)) {
                                                            product.colorVariants.forEach(function(variant) {
                                                                if (variant.color) colorSet.add(variant.color);
                                                            });
                                                        }
                                                    });
                                                    let colors = Array.from(colorSet);
                                                    colors.sort();
                                                    // For multi-select, parse filters.color as array or string
                                                    let selectedColors = [];
                                                    if (filters.color) {
                                                        if (Array.isArray(filters.color)) {
                                                            selectedColors = filters.color;
                                                        } else if (typeof filters.color === 'string') {
                                                            selectedColors = filters.color.split(',');
                                                        }
                                                    }
                                                %>
                                                <% colors.forEach(function(color) { %>
                                                    <li style="display: flex; ">
                                                        <label style="cursor:pointer; display: flex;">
                                                            <input hidden type="checkbox" name="color" value="<%= color %>" <%= selectedColors.includes(color) ? 'checked' : '' %> />
                                                            <span class="color-swatch1" style="color:#363636 ;  position: relative;  background-color: <%=color%>;min-height: 30px!important; min-width: 30px!important; border-radius:50px; border:solid 1px grey " ></span>
                                                        </label>
                                                    </li>
                                                <% }) %>
                                            </ul>
                                            <% // Preserve other filters except color %>
                                            <% Object.keys(filters).forEach(function(key) { 
                                                if (['color', 'page'].indexOf(key) === -1 && filters[key]) { %>
                                                <input type="hidden" name="<%= key %>" value="<%= filters[key] %>">
                                            <% } }) %>
                                            <button type="submit" class="btn btn-primary btn-sm btn-block mt-2">Apply Color Filter</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </aside>
                        <!-- End of Shop Sidebar -->
            
                        <!-- Start of Shop Main Content -->
                        <div class="main-content">
                            <nav class="toolbox sticky-toolbox sticky-content fix-top">
                                <div class="toolbox-left">
                                    <a href="#" class="btn btn-primary btn-outline btn-rounded left-sidebar-toggle btn-icon-left d-block d-lg-none">
                                        <i class="w-icon-category"></i><span>Filters</span>
                                    </a>
                                    <div class="toolbox-item toolbox-sort select-box text-dark">
                                        <label>Sort By :</label>
                                        <form method="get" action="/store" style="display:inline;">
                                            <select name="sort" class="form-control" onchange="this.form.submit()">
                                                <option value="" <%= !filters.sort ? 'selected' : '' %>>Default sorting</option>
                                                <option value="bestDeals" <%= filters.sort === 'bestDeals' ? 'selected' : '' %>>Sort by Best Deals</option>
                                                <option value="newArrivals" <%= filters.sort === 'newArrivals' ? 'selected' : '' %>>Sort by New Arrivals</option>
                                                <option value="bestSeller" <%= filters.sort === 'bestSeller' ? 'selected' : '' %>>Sort by Best Seller</option>
                                                <option value="price-low" <%= filters.sort === 'price-low' ? 'selected' : '' %>>Sort by price: low to high</option>
                                                <option value="price-high" <%= filters.sort === 'price-high' ? 'selected' : '' %>>Sort by price: high to low</option>
                                            </select>
                                            <% // Preserve other filters in sort form %>
                                            <% Object.keys(filters).forEach(function(key) { 
                                                if (['sort', 'page', 'limit'].indexOf(key) === -1 && filters[key]) { %>
                                                <input type="hidden" name="<%= key %>" value="<%= filters[key] %>">
                                            <% } }) %>
                                        </form>
                                    </div>
                                </div>
                                <div class="toolbox-right">
                                    <div class="toolbox-item toolbox-show select-box">
                                        <form method="get" action="/store" style="display:inline;">
                                            <select name="limit" class="form-control" onchange="this.form.submit()">
                                                <option value="9" <%= filters.limit == 9 ? 'selected' : '' %>>Show 9</option>
                                                <option value="12" <%= (!filters.limit || filters.limit == 12) ? 'selected' : '' %>>Show 12</option>
                                                <option value="24" <%= filters.limit == 24 ? 'selected' : '' %>>Show 24</option>
                                                <option value="36" <%= filters.limit == 36 ? 'selected' : '' %>>Show 36</option>
                                            </select>
                                            <% // Preserve other filters in limit form %>
                                            <% Object.keys(filters).forEach(function(key) { 
                                                if (['limit', 'page'].indexOf(key) === -1 && filters[key]) { %>
                                                <input type="hidden" name="<%= key %>" value="<%= filters[key] %>">
                                            <% } }) %>
                                        </form>
                                    </div>
                                 
                                </div>
                            </nav>
                            
                            <!-- Products Grid -->
                            <div class="product-wrapper row cols-lg-4 cols-md-3 cols-sm-2 cols-2">
                                <% if (products.length === 0) { %>
                                    <div class="col-12 d-flex flex-column align-items-center justify-content-center py-5">
                                       
                                        <dotlottie-player 
                                            src="https://lottie.host/21656489-d022-4843-8b3f-e1544ea38079/csqUJyufMI.lottie" 
                                            background="transparent" 
                                            speed="1" 
                                            style="width: 300px; height: 300px" 
                                            loop 
                                            autoplay>
                                        </dotlottie-player>
                                        <h4 class="mt-3">Coming soon... Stay tuned!</h4>
                                    </div>
                                <% } else { %>
                                    <% 
                                
                                        let wishlistProductIds = [];
                                        if (user && user.wishlist && Array.isArray(user.wishlist)) {
                                            wishlistProductIds = user.wishlist.map(function(item) {
                                                return typeof item === 'string' ? item : (item.productId || item._id);
                                            });
                                        }
                                    %>
                                    <% products.forEach(function(product) { 
                                        const isWishlisted = wishlistProductIds.includes(product._id.toString());
                                    %>
                                        <div class="product-wrap" style="border: 2px solid #dfdfdf;padding: 3px; border-radius: 6px;" 
                                            data-product-id="<%= product._id %>"
                                            data-has-color="<%= !!(product.colorVariants && product.colorVariants.length) %>"
                                            data-has-size="<%= !!(product.sizeVariants && product.sizeVariants.length) %>"
                                            data-product-name="<%= product.name.replace(/" /g, '&quot;' ) %>"
                                            data-product-image="<%= (product.images && product.images[0]) ? product.images[0] : '/images/hofmaan/category.jpg' %>"
                                            data-product-price="<%= product.salePrice || product.basePrice %>">
                                            
                                            <div class="product text-center">
                                                <figure class="product-media">
                                                    <a href="/product/<%= product.slug || product._id %>">
                                                        <img src="<%= (product.images && product.images[0]) ? product.images[0] : '/images/hofmaan/category.jpg' %>" alt="Product" width="300" height="338" loading="lazy"/>
                                                        <% if (product.images && product.images[1]) { %>
                                                            <img src="<%= product.images[1] %>" alt="Product" width="300" height="338" loading="lazy"/>
                                                        <% } %>
                                                    </a>
                                                    <div class="product-action-horizontal">
                                                        <a href="#" class="btn-product-icon btn-cart w-icon-cart add-to-cart-btn" title="Add to cart"></a>
                                                        <% if (user) { %>
                                                            <a href="#" 
                                                            class="btn-product-icon btn-wishlist w-icon-heart add-to-wishlist-btn <%= isWishlisted ? 'wishlisted' : '' %>" 
                                                            title="<%= isWishlisted ? 'Already Added' : 'Add to wishlist' %>"
                                                            data-product-id="<%= product._id %>">
                                                         </a>
                                                        <% } else { %>
                                                            <a href="/auth/login" 
                                                                class="btn-product-icon btn-wishlist w-icon-heart add-to-wishlist-btn" 
                                                                title="Login to add to wishlist">
                                                            </a>
                                                        <% } %>
                                                    </div>
                                                </figure>
                                                <div style="padding: 5px!important;" class="product-details ">
                                                  
                                                    <h3 class="product-name d-flex justify-center">
                                                        <a class="text-uppercase store-product-name" href="/product/<%= product.slug || product._id %>"><%= product.name %></a>
                                                    </h3>
                                                    
                                                    <!-- Variant Selection -->
                                                    <div class="selected-variant-info d-flex justify-center mb-2 text-sm"></div>
                                                    
                                                    <div class="product-variations flex justify-content-between align-items-center p-3 gap-3">
                                                        <% if (product.sizeVariants && product.sizeVariants.length > 0) { %>
                                                            <div class="product-size-new flex align-items-center gap-2">
                                                                <% product.sizeVariants.forEach(function(variant) { %>
                                                                    <span class="size-options-new" 
                                                                        data-size="<%= variant.size %>"
                                                                        data-stock="<%= variant.stock %>">
                                                                        <%= variant.size %>
                                                                    </span>
                                                                <% }) %>
                                                            </div>
                                                        <% } %>
                                                    
                                                        <% if (product.colorVariants && product.colorVariants.length > 0) { %>
                                                            <div class="product-color flex align-items-center gap-2">
                                                                <% product.colorVariants.forEach(function(variant) { %>
                                                                    <span class="color-options-new color-swatch" 
                                                                        style="background-color:<%= variant.colorCode || variant.color || '#ccc' %>;" 
                                                                        title="<%= variant.color %>"
                                                                        data-color="<%= variant.color %>"
                                                                        data-stock="<%= variant.stock %>">
                                                                    </span>
                                                                <% }) %>
                                                            </div>
                                                        <% } %>
                                                    </div>
                                                    
                                                    
                                                    <div class="product-pa-wrapper d-flex justify-content-start">
                                                        <div class="product-price">
                                                            <% if (product.salePrice && product.salePrice > 0 && product.salePrice < product.basePrice) { %>
                                                                <ins class="new-price"><span class="rupee-symbol">₹</span><%= product.salePrice.toFixed(2) %></ins>
                                                                <del class="old-price"><span class="rupee-symbol">₹</span><%= product.basePrice.toFixed(2) %></del>
                                                            <% } else { %>
                                                                <ins class="new-price"><span class="rupee-symbol">₹</span><%= product.basePrice.toFixed(2) %></ins>
                                                            <% } %>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <% }) %>
                                <% } %>
                            </div>
            
                            <!-- Pagination -->
                            <div class="toolbox toolbox-pagination justify-content-between">
                                <p class="showing-info mb-2 mb-sm-0">
                                  <% 
                                    let start = (currentPage - 1) * (filters.limit ? parseInt(filters.limit) : 12) + 1;
                                    let end = Math.min(currentPage * (filters.limit ? parseInt(filters.limit) : 12), totalProducts);
                                    const specialCategories = ['68401f815a149404380fc58f', '684023da5a149404380fc640'];
                                    let paginationKey = 'page';
                                    if (filters.subcategory) {
                                      paginationKey = 'subcategoryPage';
                                    } else if (filters.category && !specialCategories.includes(filters.category)) {
                                      paginationKey = 'categoryPage';
                                    }
                                  %>
                                  Showing <span><%= start %>-<%= end %> of <%= totalProducts %></span> Products
                                </p>
                              
                                <ul class="pagination">
                                  <li class="prev <%= currentPage === 1 ? 'disabled' : '' %>">
                                    <a href="<%= currentPage === 1 ? '#' : ('/store?' +
                                      Object.keys(filters).map(function(key) {
                                        if (key !== paginationKey && filters[key])
                                          return encodeURIComponent(key) + '=' + encodeURIComponent(filters[key]);
                                      }).filter(Boolean).join('&') + (Object.keys(filters).length ? '&' : '') + paginationKey + '=' + (currentPage - 1)
                                    ) %>" aria-label="Previous" tabindex="-1" aria-disabled="<%= currentPage === 1 ? 'true' : 'false' %>">
                                      <i class="w-icon-long-arrow-left"></i>Prev
                                    </a>
                                  </li>
                              
                                  <% for (let i = 1; i <= totalPages; i++) { %>
                                    <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                                      <a class="page-link" href="/store?<%= 
                                        Object.keys(filters).map(function(key) {
                                          if (key !== paginationKey && filters[key])
                                            return encodeURIComponent(key) + '=' + encodeURIComponent(filters[key]);
                                        }).filter(Boolean).join('&') + (Object.keys(filters).length ? '&' : '') + paginationKey + '=' + i
                                      %>"><%= i %></a>
                                    </li>
                                  <% } %>
                              
                                  <li class="next <%= currentPage === totalPages ? 'disabled' : '' %>">
                                    <a href="<%= currentPage === totalPages ? '#' : ('/store?' +
                                      Object.keys(filters).map(function(key) {
                                        if (key !== paginationKey && filters[key])
                                          return encodeURIComponent(key) + '=' + encodeURIComponent(filters[key]);
                                      }).filter(Boolean).join('&') + (Object.keys(filters).length ? '&' : '') + paginationKey + '=' + (currentPage + 1)
                                    ) %>" aria-label="Next" aria-disabled="<%= currentPage === totalPages ? 'true' : 'false' %>">
                                      Next<i class="w-icon-long-arrow-right"></i>
                                    </a>
                                  </li>
                                </ul>
                              </div>
                              
                              
                        </div>
                        <script>
                            (function() {
                                const selectedVariants = {};

                                // Update selected variant info display
                                function updateSelectedVariantInfo(productId) {
                                    const productEl = document.querySelector(`.product-wrap[data-product-id="${productId}"]`);
                                    if (!productEl) return;
                                    
                                    const infoDiv = productEl.querySelector('.selected-variant-info');
                                    if (!infoDiv) return;
                                    
                                    const variant = selectedVariants[productId] || {};
                                    let info = '';
                                    
                                    if (productEl.getAttribute('data-has-size') === 'true') {
                                        info += variant.selectedSize 
                                            ? `<span class="mr-2"><strong>Size:</strong> <span class="badge badge-success">${variant.selectedSize}</span></span>`
                                            : `<span class="mr-2 text-danger">Select Size</span>`;
                                    }
                                    
                                    if (productEl.getAttribute('data-has-color') === 'true') {
                                        info += variant.selectedColor 
                                            ? `<span class="mr-2"><strong>Color:</strong> <span class="badge badge-success" style="background:${variant.selectedColor};color:#fff;border:1px solid #ccc;">${variant.selectedColor}</span></span>`
                                            : `<span class="mr-2 text-danger">Select Color</span>`;
                                    }
                                    
                                    infoDiv.innerHTML = info;
                                }

                                // Show Toast notification
                                function showToast(message, type = "success") {
                                    if (window._toastifyActive) return;
                                    window._toastifyActive = true;
                                    
                                    Toastify({
                                        text: message,
                                        duration: 2500,
                                        close: true,
                                        gravity: "top",
                                        position: "right",
                                        backgroundColor: type === "success" 
                                            ? "linear-gradient(90deg, #00b09b, #96c93d)" 
                                            : "linear-gradient(90deg, #e74c3c, #c0392b)",
                                        stopOnFocus: true,
                                        callback: function() {
                                            window._toastifyActive = false;
                                        }
                                    }).showToast();
                                    
                                    setTimeout(function() {
                                        window._toastifyActive = false;
                                    }, 2600);
                                }

                                // Add to cart function
                                async function addToCart(productId, quantity = 1, selectedColor = null, selectedSize = null, productName = null, productImage = null, productPrice = null) {
                                    const isLoggedIn = <%= user ? 'true' : 'false' %>;
                                    
                                    const item = { 
                                        productId, 
                                        quantity, 
                                        selectedColor, 
                                        selectedSize,
                                        productName,
                                        productImage,
                                        price: productPrice
                                    };
                                    
                                    if (isLoggedIn) {
                                        try {
                                            const response = await fetch('/add-cart', {
                                                method: 'POST',
                                                headers: {
                                                    'Content-Type': 'application/json',
                                                },
                                                body: JSON.stringify(item)
                                            });
                                            
                                            const data = await response.json();
                                            
                                            if (data.error) {
                                                showToast(data.error, "error");
                                            } else {
                                                showToast("Product added to cart!", "success");
                                                updateCartCount(data.cartCount);
                                            }
                                        } catch (error) {
                                            console.error('Error:', error);
                                            showToast("Failed to add to cart", "error");
                                        }
                                    } else {
                                        // Guest cart in localStorage
                                        let guestCart = JSON.parse(localStorage.getItem('guestCart')) || [];
                                        
                                        // Check if item already exists
                                        const existingItemIndex = guestCart.findIndex(item => 
                                            item.productId === productId && 
                                            item.selectedColor === selectedColor && 
                                            item.selectedSize === selectedSize
                                        );
                                        
                                        if (existingItemIndex >= 0) {
                                            // Update quantity if exists
                                            guestCart[existingItemIndex].quantity += quantity;
                                        } else {
                                            // Add new item
                                            guestCart.push(item);
                                        }
                                        
                                        localStorage.setItem('guestCart', JSON.stringify(guestCart));
                                        showToast("Product added to guest cart!", "success");
                                        updateCartCount(guestCart.reduce((total, item) => total + item.quantity, 0));
                                    }
                                }

                                // Add to wishlist function (prevent double call)
                                function addToWishlist(productId, el) {
                                    // Prevent double call by disabling the button until request completes
                                    if (el._wishlistLoading) return;
                                    el._wishlistLoading = true;

                                    const productCard = el.closest('.product-wrap');
                                    const hasColor = productCard.dataset.hasColor === 'true';
                                    const hasSize = productCard.dataset.hasSize === 'true';

                                    const selectedColor = productCard.querySelector('.color-options-new.active')?.getAttribute('data-color') || null;
                                    const selectedSize = productCard.querySelector('.size-options-new.active')?.getAttribute('data-size') || null;

                                    const body = {
                                        productId,
                                        ...(hasColor ? { selectedColor } : {}),
                                        ...(hasSize ? { selectedSize } : {})
                                    };

                                    const isWishlisted = el.classList.contains('wishlisted');
                                    const action = isWishlisted ? 'remove' : 'add';

                                    fetch('/create-wishlist', {
                                        method: 'POST',
                                        headers: {
                                            'Content-Type': 'application/json',
                                            'X-Requested-With': 'XMLHttpRequest'
                                        },
                                        body: JSON.stringify({
                                            ...body,
                                            action: action
                                        }),
                                        credentials: 'same-origin'
                                    })
                                    .then(res => res.json())
                                    .then(data => {
                                        if (data && data.success) {
                                            if (isWishlisted) {
                                                el.classList.remove('wishlisted');
                                                el.setAttribute('title', 'Add to wishlist');
                                                showToast("Removed from wishlist!", "success");
                                            } else {
                                                el.classList.add('wishlisted');
                                                el.setAttribute('title', 'Remove from wishlist');
                                                showToast("Added to wishlist!", "success");
                                            }
                                            if (data.wishlistCount !== undefined) {
                                                updateWishlistCount(data.wishlistCount);
                                            }
                                        } else {
                                            showToast(data.error || "Could not update wishlist.", "error");
                                        }
                                    })
                                    .catch(() => {
                                        showToast("Error updating wishlist.", "error");
                                    })
                                    .finally(() => {
                                        el._wishlistLoading = false;
                                    });
                                }

                                // Update wishlist count in UI
                                function updateWishlistCount(count) {
                                    const wishlistCountElements = document.querySelectorAll('.wishlist-count');
                                    wishlistCountElements.forEach(el => {
                                        el.textContent = count;
                                        el.style.display = count > 0 ? 'inline-block' : 'none';
                                    });
                                }
                                // Update cart count in UI
                                function updateCartCount(count) {
                                    const cartCountElements = document.querySelectorAll('.cart-count');
                                    cartCountElements.forEach(el => {
                                        el.textContent = count;
                                        el.style.display = count > 0 ? 'inline-block' : 'none';
                                    });
                                }

                                // Initialize event listeners when DOM is loaded
                                document.addEventListener('DOMContentLoaded', function() {
                                    // Size selection
                                    document.querySelectorAll('.size-options-new').forEach(el => {
                                        el.addEventListener('click', function() {
                                            const productWrap = this.closest('.product-wrap');
                                            const productId = productWrap.getAttribute('data-product-id');
                                            
                                            // Remove active from siblings
                                            productWrap.querySelectorAll('.size-options-new').forEach(sib => {
                                                sib.classList.remove('active');
                                            });
                                            
                                            this.classList.add('active');
                                            
                                            selectedVariants[productId] = selectedVariants[productId] || {};
                                            selectedVariants[productId].selectedSize = this.getAttribute('data-size');
                                            
                                            updateSelectedVariantInfo(productId);
                                        });
                                    });
                                    
                                    // Color selection
                                    document.querySelectorAll('.color-options-new').forEach(el => {
                                        el.addEventListener('click', function() {
                                            const productWrap = this.closest('.product-wrap');
                                            const productId = productWrap.getAttribute('data-product-id');
                                            
                                            // Remove active from siblings
                                            productWrap.querySelectorAll('.color-options-new').forEach(sib => {
                                                sib.classList.remove('active');
                                            });
                                            
                                            this.classList.add('active');
                                            
                                            selectedVariants[productId] = selectedVariants[productId] || {};
                                            selectedVariants[productId].selectedColor = this.getAttribute('data-color');
                                            
                                            updateSelectedVariantInfo(productId);
                                        });
                                    });
                                    
                                    // Add to cart button
                                    document.querySelectorAll('.add-to-cart-btn').forEach(btn => {
                                        btn.addEventListener('click', async function(e) {
                                            e.preventDefault();
                                            
                                            const productWrap = this.closest('.product-wrap');
                                            const productId = productWrap.getAttribute('data-product-id');
                                            const hasColor = productWrap.getAttribute('data-has-color') === 'true';
                                            const hasSize = productWrap.getAttribute('data-has-size') === 'true';
                                            const productName = productWrap.getAttribute('data-product-name');
                                            const productImage = productWrap.getAttribute('data-product-image');
                                            const productPrice = parseFloat(productWrap.getAttribute('data-product-price'));
                                            
                                            let selectedColor = null;
                                            let selectedSize = null;
                                            
                                            if (hasColor) {
                                                selectedColor = (selectedVariants[productId] && selectedVariants[productId].selectedColor) || null;
                                                if (!selectedColor) {
                                                    showToast('Please select a color', "error");
                                                    updateSelectedVariantInfo(productId);
                                                    return;
                                                }
                                            }
                                            
                                            if (hasSize) {
                                                selectedSize = (selectedVariants[productId] && selectedVariants[productId].selectedSize) || null;
                                                if (!selectedSize) {
                                                    showToast('Please select a size', "error");
                                                    updateSelectedVariantInfo(productId);
                                                    return;
                                                }
                                            }
                                            
                                            await addToCart(
                                                productId, 
                                                1, 
                                                selectedColor, 
                                                selectedSize, 
                                                productName, 
                                                productImage, 
                                                productPrice
                                            );
                                        });
                                    });

                                    // Add to wishlist button (show login toast for guests)
                                    document.querySelectorAll('.add-to-wishlist-btn').forEach(btn => {
                                        btn.addEventListener('click', function(e) {
                                            // If the button is a login link, let it work as normal
                                            if (btn.getAttribute('href') === '/auth/login') {
                                                e.preventDefault();
                                                showToast('Login to use wishlist', 'error');
                                                return;
                                            }
                                            // If user is not logged in, show toast
                                            const isLoggedIn = <%= user ? 'true' : 'false' %>;
                                            if (!isLoggedIn) {
                                                e.preventDefault();
                                                showToast('Login to use wishlist', 'error');
                                                return;
                                            }
                                            e.preventDefault();
                                            // Prevent double call
                                            if (btn._wishlistLoading) return;
                                            const productId = btn.getAttribute('data-product-id');
                                            addToWishlist(productId, btn);
                                        });
                                    });
                                    
                                    // Initialize variant info displays
                                    document.querySelectorAll('.product-wrap').forEach(productWrap => {
                                        const productId = productWrap.getAttribute('data-product-id');
                                        updateSelectedVariantInfo(productId);
                                    });

                                    // For size and color filter forms: allow multi-select and submit as comma-separated values
                                    function handleMultiCheckboxForm(formId, inputName) {
                                        const form = document.getElementById(formId);
                                        if (!form) return;
                                        form.addEventListener('submit', function(e) {
                                            // Before submit, collect all checked values and set as a single input
                                            const checkboxes = form.querySelectorAll('input[type="checkbox"][name="' + inputName + '"]:checked');
                                            const values = Array.from(checkboxes).map(cb => cb.value);
                                            // Remove all name="inputName" checkboxes from submit, add a hidden input
                                            checkboxes.forEach(cb => cb.removeAttribute('name'));
                                            let hidden = form.querySelector('input[type="hidden"][name="' + inputName + '"]');
                                            if (!hidden) {
                                                hidden = document.createElement('input');
                                                hidden.type = 'hidden';
                                                hidden.name = inputName;
                                                form.appendChild(hidden);
                                            }
                                            hidden.value = values.join(',');
                                        });
                                    }
                                    handleMultiCheckboxForm('size-filter-form', 'size');
                                    handleMultiCheckboxForm('color-filter-form', 'color');
                                });

                                // Make functions available globally if needed
                                window.showToast = showToast;
                                window.addToCart = addToCart;
                                window.addToWishlist = addToWishlist;
                                window.updateWishlistCount = updateWishlistCount;
                            })();
                        </script>
                                     <footer class="footer appear-animate" data-animation-options="{
                                        'name': 'fadeIn'
                                    }">
                                        <div class="footer-newsletter bg-primary">
                                            <div class="container">
                                                <div class="row justify-content-center align-items-center">
                                                    <div class="col-xl-5 col-lg-6">
                                                        <div class="icon-box icon-box-side text-white">
                                                            <div class="icon-box-icon d-inline-flex">
                                                                <i class="w-icon-envelop3"></i>
                                                            </div>
                                                            <div class="icon-box-content">
                                                                <h4 class="icon-box-title text-white text-uppercase font-weight-bold">Subscribe To
                                                                    Our Newsletter</h4>
                                                                <p class="text-white">Get all the latest information on Events, Sales and Offers.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-7 col-lg-6 col-md-9 mt-4 mt-lg-0 ">
                                                        <form action="#" method="get"
                                                            class="input-wrapper input-wrapper-inline input-wrapper-rounded">
                                                            <input type="email" class="form-control mr-2 bg-white" name="email" id="email"
                                                                placeholder="Your E-mail Address" />
                                                            <button class="btn btn-dark btn-rounded" type="submit">Subscribe<i
                                                                    class="w-icon-long-arrow-right"></i></button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="container">
                                            <div class="footer-top">
                                                <div class="row">
                                                    <div class="col-lg-4 col-sm-6">
                                                        <div class="widget widget-about mt-0 mb-4">
                                                            <a href="/" class="logo-footer">
                                                                <img src="/images/logo.png" alt="logo-footer" width="200" height="45" />
                                                            </a>
                                                            <div class="widget-body">
                                                                <p class="widget-about-title">Got Question? Call us 24/7</p>
                                                                <a href="tel:+919400947122" class="widget-about-call">+91 9400947122</a>
                                                                <p>Follow Us In :</p>
                                                                <div class="social-icons social-icons-colored">
                                                                    <a    target="_blank"  href="https://www.facebook.com/profile.php?id=61577041363849#"
                                                                        class="social-icon social-facebook w-icon-facebook"></a>
                                                                    <a    target="_blank"  href="https://www.instagram.com/hofmaan.official/?fbclid=IwY2xjawLJwfRleHRuA2FlbQIxMQBicmlkETFtbmQ0UnlRc3gyNDAwaU44AR5ZqTiWzEixcnjCAnjWdJJKxyOo1SDmgvhwN8_53T5gbWCz_nWAy3l3UTZALw_aem_icwl_UgQrgnfthtQ81Mmyw"
                                                                        class="social-icon social-instagram w-icon-instagram"></a>
                                                                    <a    target="_blank"  href="https://www.youtube.com/@hofmaanofficial"
                                                                        class="social-icon social-youtube w-icon-youtube"></a>
                                                                            <a    target="_blank"  href="https://in.pinterest.com/hofmaan_official/"
                                                                        class="social-icon social-pinterest w-icon-pinterest"></a>
                                                        <a href="https://www.linkedin.com/company/107658144/admin/page-posts/published/" 
                               class="social-icon" 
                               target="_blank" 
                               rel="noopener noreferrer">
                               <i style="color: blue;" class="fab fa-linkedin-in"></i> 
                            </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-sm-6">
                                                        <div class="widget">
                                                            <h3 class="widget-title">Company</h3>
                                                            <ul class="widget-body">
                                                                <li><a href="/">Home</a></li>
                                                                <li><a href="/store">Store</a></li>
                                                                <li><a href="/about">About Us</a></li>
                                                                <li><a href="/blogs">Blogs</a></li>
                                                                <li><a href="/contact">Contact Us</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-sm-6">
                                                        <div class="widget">
                                                            <h4 class="widget-title">My Account</h4>
                                                            <ul class="widget-body">
                                                                <li><a href="/orders">Track My Order</a></li>
                                                                <li><a href="/cart">View Cart</a></li>
                                                                <% if (user) { %>
                                                                    <li><a href="/account">Account</a></li>
                                                                    <% } else { %>
                                                                        <li><a href="/auth/login">Sign In</a></li>
                                                                        <% } %>
                                                                            <li><a href="/wishlist">My Wishlist</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-sm-6">
                                                        <div class="widget">
                                                            <h4 class="widget-title">Customer Service</h4>
                                                            <ul class="widget-body">
                                                                <li><a href="/terms_and_conditions">Terms and Conditions</a></li>
                                                                <li><a href="/Cancellation_Refund">Cancellation Refund</a></li>
                                                                <li><a href="/shipping_policy">Shipping Policy</a></li>
                                                                <li><a href="/privacy_policy">Privacy Policy</a></li>
                            
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                            
                                            <div class="footer-bottom">
                                                <div class="footer-left">
                                                    <p class="copyright">
                                                        Copyright © 2025 Hofmaan. All Rights Reserved. &nbsp;|&nbsp;
                                                        developed by <a href="https://trivlogic.com/" target="_blank" rel="noopener" style="color:#888;text-decoration:none;">Trivlogic Pvt Ltd</a>
                                                    </p>
                                                </div>
                                                <div class="footer-right">
                                                    <span class="payment-label mr-lg-8">We're using safe payment for</span>
                                                    <figure class="payment">
                                                        <img src="/images/payment.png" alt="payment" width="159" height="35" />
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                    </footer>
        <!-- End of Footer -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Start of Sticky Footer -->
   <div class="btm-main">
    <a href="#" id="mobileSearchRedirect" class="search-bar-link">
        <div class="search-bar" id="searchBar">
            <div class="search-container">
                <div class="search-input-wrapper">
                    <i class="fas fa-search search-input-icon"></i>
                    <input type="text" class="search-input" placeholder="Search products..." id="mobileSearchInput">
                </div>
                <button class="search-btn" id="mobileSearchButton">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </a>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const input = document.getElementById('mobileSearchInput');
            const btn = document.getElementById('mobileSearchButton');
            const link = document.getElementById('mobileSearchRedirect');
            function doSearch(e) {
                e.preventDefault();
                const q = input.value.trim();
                if (q.length > 0) {
                    window.location.href = '/store?q=' + encodeURIComponent(q);
                }
            }
            btn.addEventListener('click', doSearch);
            input.addEventListener('keydown', function(e) {
                if (e.key === 'Enter') {
                    doSearch(e);
                }
            });
            link.addEventListener('click', function(e) {
                // Prevent default link if not searching
                if (input.value.trim().length === 0) e.preventDefault();
            });
        });
    </script>

        <nav class="mobile-bottom-nav">

            <div class="mob-btm-nav">
                <a href="/cart" class="sticky-link1">
                    <i class="fas fa-shopping-cart"></i>
                    <p>Cart</p>
                </a>
            </div>

            <div class="mob-btm-nav">
                <a href="/orders" class="sticky-link1">
                    <i class="fas fa-clipboard-list"></i>
                    <p>Orders</p>
                </a>
            </div>

            <div class="mob-btm-nav">
                <a href="#0" id="searchBtn" class="sticky-link1">
                    <i class="fas fa-search"></i>
                    <p>Search</p>
                </a>
            </div>

            <div class="mob-btm-nav">
                <a href="/wishlist" class="sticky-link1">
                    <i class="fas fa-heart"></i>
                    <p>Wishlist</p>
                </a>
            </div>
        </nav>
    </div>

    <div class="sticky-footer sticky-content fix-bottom">

        <a href="/" class="sticky-link  ">
            <i class="w-icon-home"></i>
            <p>Home</p>
        </a>
        <a href="/store" class="sticky-link active-mob">
            <i class="w-icon-products"></i>
            <p>Store</p>
        </a>
        <a class="btm-img" href="/"> <img src="/images/logo-2.png" alt=""></a>
        <% if (user) { %>
            <a href="/account" class="sticky-link">
                <i class="w-icon-account"></i>
                <p>Account</p>
            </a>
            <% } else { %>
                <a href="/auth/login" class="sticky-link">
                    <i class="w-icon-account"></i>
                    <p>Login</p>
                </a>
                <% } %>


                    <a href="/contact" class="sticky-link">
                        <i class="w-icon-call2"></i>
                        <p>Contact </p>
                    </a>
    </div>
    <!-- End of Sticky Footer -->

    <!-- Start of Scroll Top -->
    <a id="scroll-top" class="scroll-top" href="#top" title="Top" role="button"> <i class="w-icon-angle-up"></i> <svg
            version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 70">
            <circle id="progress-indicator" fill="transparent" stroke="#000000" stroke-miterlimit="10" cx="35" cy="35"
                r="34" style="stroke-dasharray: 16.4198, 400;"></circle>
        </svg> </a>
    <!-- End of Scroll Top -->
    <!-- Start of Mobile Menu -->
    <div class="mobile-menu-wrapper">
        <div class="mobile-menu-overlay"></div>
        <!-- End of .mobile-menu-overlay -->

        <a href="#" class="mobile-menu-close"><i class="close-icon"></i></a>
        <!-- End of .mobile-menu-close -->

        <div class="mobile-menu-container scrollable">
         <img class="side-logo" src="/images/logo.png" alt="logo">
            <!-- End of Search Form -->
            <div class="tab">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a href="#main-menu" class="nav-link active">Main Menu</a>
                    </li>
                    <li class="nav-item">
                        <a href="#categories" class="nav-link">Categories</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="main-menu">
                    <ul class="mobile-menu">
                        <li><a href="/">Home</a></li>
                        <li><a href="/store">Store</a></li>
                        <% if (user) { %>
                        <li><a href="/account">Profile</a></li>
                        <% } else { %>
                        <li><a href="/auth/login">Login</a></li>
                        <% } %>
                        <li><a href="/wishlist">Wishlist</a></li>
                        <li><a href="/cart">Cart</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/blogs">Blogs</a></li>
                        <li><a href="/contact">Contact Us</a></li>

                    </ul>
                </div>
                <div class="tab-pane" id="categories">
                    <ul class="mobile-menu">
                        <% categories.forEach(category=> { %>
                            <li>
                                <a style="gap: 10px!important; display: flex;" href="/store?category=<%= category._id %>">
                                    <img style="height: 30px; width: 30px; border-radius: 50px;"
                                        src="<%= category.imageUrl || '/images/hofmaan/sample3.jpg' %>" alt="">
                                    <%= category.name %>
                                </a>
                                <% if (category.subCategories && category.subCategories.length> 0) { %>
                                    <ul>
                                        <% category.subCategories.forEach(sub=> { %>
                                            <% if (sub.isActive) { %>
                                                <li>
                                                    <a href="/store?subcategory=<%= sub._id %>">
                                                        <%= sub.name %>
                                                    </a>
                                                </li>
                                                <% } %>
                                                    <% }); %>
                                    </ul>
                                    <% } %>
                            </li>
                            <% }); %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Mobile Menu -->
       <!--whats app icon -->
<div class="whatsapp-float">
  <a href="https://wa.me/+919400947122" target="_blank" rel="noopener noreferrer">
    <i class="fab fa-whatsapp whatsapp-icon"></i>
  </a>
</div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const searchInput = document.getElementById('searchInput');
            const searchForm = document.getElementById('searchForm');
            const suggestionsContainer = document.getElementById('searchSuggestions');
            const resultsContainer = document.getElementById('searchResults');
            let searchTimeout;

            // Helper to safely format price
            function formatPrice(price) {
                if (typeof price === 'number' && !isNaN(price)) {
                    return price.toLocaleString('en-IN');
                }
                if (typeof price === 'string' && price.trim() !== '' && !isNaN(Number(price))) {
                    return Number(price).toLocaleString('en-IN');
                }
                return '';
            }

            // Search input handler
            searchInput.addEventListener('input', function (e) {
                clearTimeout(searchTimeout);
                const query = e.target.value.trim();

                if (query.length < 2) {
                    suggestionsContainer.style.display = 'none';
                    return;
                }

                searchTimeout = setTimeout(() => {
                    fetchSuggestions(query);
                }, 300);
            });

            // Form submission handler
            searchForm.addEventListener('submit', function (e) {
                e.preventDefault();
                const query = searchInput.value.trim();
                if (query) {
                    performSearch(query);
                }
            });

            // Close results when clicking outside
            document.addEventListener('click', function (e) {
                if (!searchForm.contains(e.target)) {
                    suggestionsContainer.style.display = 'none';
                    resultsContainer.style.display = 'none';
                }
            });

            // Fetch search suggestions
            async function fetchSuggestions(query) {
                try {
                    const response = await fetch(`/search/suggestions?q=${encodeURIComponent(query)}`);

                    if (!response.ok) {
                        throw new Error(`HTTP error! status: ${response.status}`);
                    }

                    const suggestions = await response.json();

                    if (!Array.isArray(suggestions)) {
                        throw new Error('Invalid suggestions format');
                    }

                    displaySuggestions(suggestions);
                } catch (error) {
                    console.error('Error fetching suggestions:', error);
                    suggestionsContainer.style.display = 'none';
                    suggestionsContainer.innerHTML = '<div class="error-message">Failed to load suggestions</div>';
                }
            }

            // Display suggestions
            function displaySuggestions(suggestions) {
                if (!suggestions || suggestions.length === 0) {
                    suggestionsContainer.innerHTML = '<div class="no-suggestions">No suggestions found</div>';
                    suggestionsContainer.style.display = 'block';
                    return;
                }

                suggestionsContainer.innerHTML = '';
                suggestions.forEach(item => {
                    const suggestionItem = document.createElement('div');
                    suggestionItem.className = 'suggestion-item';
                    suggestionItem.innerHTML = `
            ${item.images?.length ? `<img src="${item.images[0]}" alt="${item.name}" />` : ''}
            <div class="suggestion-text">
                <div class="suggestion-name">${item.name}</div>
                <div class="suggestion-price">₹${formatPrice(item.basePrice)}</div>
            </div>
        `;
                    // ✅ Navigate to product page directly
                    suggestionItem.addEventListener('click', () => {
                        window.location.href = `/product/${item._id}`;
                    });
                    suggestionsContainer.appendChild(suggestionItem);
                });
                suggestionsContainer.style.display = 'block';
            }

            // Perform full search
            async function performSearch(query) {
                try {
                    const response = await fetch(`/search?q=${encodeURIComponent(query)}`);

                    if (!response.ok) {
                        throw new Error(`HTTP error! status: ${response.status}`);
                    }

                    const results = await response.json();

                    if (!Array.isArray(results)) {
                        throw new Error('Invalid results format');
                    }

                    displaySearchResults(query, results);
                } catch (error) {
                    console.error('Error performing search:', error);
                    displaySearchResults(query, []);
                }
            }

            // Display search results
            function displaySearchResults(query, products) {
                suggestionsContainer.style.display = 'none';

                if (!products || products.length === 0) {
                    resultsContainer.innerHTML = `
                <div class="no-results">
                    <h3>No results found for "${query}"</h3>
                    <p>Try different keywords or browse our categories</p>
                </div>
            `;
                } else {
                    resultsContainer.innerHTML = `
                <div class="search-results-header">
                    <h3>Results for "${query}" (${products.length})</h3>
                    <span class="close-results">&times;</span>
                </div>
                <div class="search-results-grid">
                    ${products.map(product => {
                        const priceStr = formatPrice(product.basePrice);
                        return `
                        <div class="search-result-item">
                            <a href="/product/${product._id}">
                                <img src="${product.images?.[0] || '/images/placeholder.jpg'}" alt="${product.name}" />
                                <div class="item-details">
                                    <h4>${product.name}</h4>
                                <div class="item-price">₹${formatPrice(product.salePrice || product.basePrice)}</div>
                                    ${product.description ? `<p class="item-desc">${product.description.substring(0, 60)}...</p>` : ''}
                                </div>
                            </a>
                        </div>
                        `;
                    }).join('')}
                </div>
            `;
                }

                // Show results container
                resultsContainer.style.display = 'block';

                // Close button handler
                const closeBtn = resultsContainer.querySelector('.close-results');
                if (closeBtn) {
                    closeBtn.addEventListener('click', () => {
                        resultsContainer.style.display = 'none';
                    });
                }
            }
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var slider = document.getElementById('price-slider');
            var min = <%= filters.minPrice || 0 %>;
            var max = <%= filters.maxPrice || 20000 %>;
    
            noUiSlider.create(slider, {
                start: [min, max],
                connect: true,
                range: {
                    'min': 0,
                    'max': 20000
                },
                step: 10,
                format: {
                    to: value => Math.round(value),
                    from: value => parseInt(value)
                }
            });
    
            var minInput = document.getElementById('minPriceInput');
            var maxInput = document.getElementById('maxPriceInput');
            var display = document.getElementById('price-range-display');
    
            slider.noUiSlider.on('update', function (values, handle) {
                var minVal = values[0];
                var maxVal = values[1];
    
                minInput.value = minVal;
                maxInput.value = maxVal;
                display.innerText = `₹${minVal} - ₹${maxVal}`;
            });
        });
    </script>
    

<script src="https://cdn.jsdelivr.net/npm/nouislider@15.7.0/dist/nouislider.min.js"></script>
    <!-- Plugin JS File -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/sticky/sticky.js"></script>
    <script src="/vendor/jquery.plugin/jquery.plugin.min.js"></script>
    <script src="/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/vendor/nouislider/nouislider.min.js"></script>
    <script src="/vendor/jquery.countdown/jquery.countdown.min.js"></script>
    <script src="/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="/vendor/zoom/jquery.zoom.js"></script>
    <script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
    <!-- Main JS -->
    <script src="/js/main.min.js"></script>
    <script src="/js/script.js"></script>
</body>



</html>